<div class="containery">
<div class="form">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required minlength="4" maxlength="12" />
  </div>

  <div>
    <label for="race">Race:</label>
    <input type="text" id="race"  required minlength="4" maxlength="12" />
  </div>

  <div>
    <label for="age">Age:</label>
    <input type="text" id="age"  required minlength="4" maxlength="12" />
  </div>

  <div>
  <label class="avatar" for="avatar">Photo:</label>
  <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" />
  </div>

</div>


<%# 
<div class="ball" tabindex="0"></div> %>

  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-heart"></i></a>
    <a href="#"><i class="fa-regular fa-message"></i></a>
    <a href="#"><i class="fa-solid fa-dog"></i></a>
    <a href="#"><i class="fa-solid fa-plus"></i></a>
    <a href="#"><i class="fa-regular fa-user"></i></a>
  </div>

</div>
</div>
