<div id="carousel">
    <img src="https://media.istockphoto.com/id/1442152045/fr/vectoriel/ic%C3%B4ne-ditin%C3%A9raire-de-chemin-symbole-de-distance.jpg?s=1024x1024&w=is&k=20&c=6YHfMk1DbNjzop96g5AEPaXcg0Xmnd01Q-9khBTLeCc=" id="carousel-image-0" class="carousel-image">
    <img src="https://lucidar.me/fr/web-dev/files/img1.svg" id="carousel-image-1" class="carousel-image">
    <img src="https://lucidar.me/fr/web-dev/files/img2.svg" id="carousel-image-2" class="carousel-image">
    <img src="https://lucidar.me/fr/web-dev/files/img3.svg" id="carousel-image-3" class="carousel-image">
    <img src="https://lucidar.me/fr/web-dev/files/img4.svg" id="carousel-image-4" class="carousel-image">
    <img src="https://lucidar.me/fr/web-dev/files/img5.svg" id="carousel-image-5" class="carousel-image">
</div>