  <div class="footer footer-links">
      <%# <%= link_to tindog_path(current_user.dog)  do %>
        <%# <i class="fa-solid fa-heart"></i> %>
      <%# <% end %>
      <%= link_to tindogs_path do %>
        <i class="fa-regular fa-comments"></i>
      <% end %>
      <%= link_to dog_walks_path(current_user.dog) do %>
        <i class="fa-solid fa-map-location-dot"></i>
      <% end %>
      <%= link_to my_dog_path do %>
        <i class="fa-solid fa-dog"></i>
      <% end %>
  </div>
