<%= form_with url: dog_walks_path, method: :get, class: "simple_form search" do %>
  <div class="search-form-control form-group ">
    <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Rechercher une balade" %>
    <button type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
  </div>
<% end %>
