
<div class="containery">
  <div class="main">
    <%= image_tag "balade-ton-chien_720.png", class: "logi", alt: "logo", width: 20 %>
  </div>

  <div class="center-container">
    <div class="dog">
      <div class="dog-body">
        <div class="dog-tail">
          <div class="dog-tail">
            <div class="dog-tail">
              <div class="dog-tail">
                <div class="dog-tail">
                  <div class="dog-tail">
                    <div class="dog-tail">
                      <div class="dog-tail"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dog-torso"></div>
      <div class="dog-head">
        <div class="dog-ears">
          <div class="dog-ear"></div>
          <div class="dog-ear"></div>
        </div>
        <div class="dog-eyes">
          <div class="dog-eye"></div>
          <div class="dog-eye"></div>
        </div>
        <div class="dog-muzzle">
          <div class="dog-tongue"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="boubou">
    <div class="bouton"> On y va ?</div>
  </div>
  
  <%= render "shared/footer" %>
</div>



