
<div class="containery">

  <div class="center-container">
    <div class="dog">
      <div class="dog-body">
        <div class="dog-tail">
          <div class="dog-tail">
            <div class="dog-tail">
              <div class="dog-tail">
                <div class="dog-tail">
                  <div class="dog-tail">
                    <div class="dog-tail">
                      <div class="dog-tail"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dog-torso"></div>
      <div class="dog-head">
        <div class="dog-ears">
          <div class="dog-ear"></div>
          <div class="dog-ear"></div>
        </div>
        <div class="dog-eyes">
          <div class="dog-eye"></div>
          <div class="dog-eye"></div>
        </div>
        <div class="dog-muzzle">
          <div class="dog-tongue"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="boubou">
    <%= link_to(dog_walks_path(current_user.dog), class:"text-decoration-none bouton") do %>
    On y va ?
    <% end %>
  </div>

  <%= render "shared/footer" %>
</div>
