<div class="containery">
  <div class="main">
  <%= image_tag "balade-ton-chien_720.png", class: "logi", alt: "logo" %>
  </div>

  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-heart"></i></a>
    <a href="#"><i class="fa-regular fa-message"></i></a>
    <a href="#"><i class="fa-solid fa-dog"></i></a>
    <a href="#"><i class="fa-solid fa-plus"></i></a>
    <a href="#"><i class="fa-regular fa-user"></i></a>
  </div>

</div>


</div>
