
<div class="app_container tindog-background">
  <div class="center-everything">
    <%= cl_image_tag @dog.photo.key, class:"dog-avatar", crop: :fill %>
    <h2> <%= @dog.name %> </h2>
  </div>
</div>

  <%= render "shared/footer" %>
