<div class="card-product">
  <%= image_tag "balade.jpg"%>
  <div class="card-product-infos">
    <h2><%= walk.title %></h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
