<div class="app_container">

  <%= render "shared/search" %>

  <div class="usermap"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>">
  </div>

  <%= render "shared/footer" %>

</div>
