.app_container {
  width: 100vw;
  margin-bottom: 70px;
  background-color: #ECEBF3;
  min-height: 95vh;
}

.tindog-background {
  background-image: linear-gradient(-20deg, #dcb0ed 0%, #99c99c 100%);
}
