.app_container {
  width: 100vw;
  margin-bottom: 70px;
  background-color: #ffffff;
  min-height: calc(100vh - 70px);
  position: relative;
}

.tindog-background {
  background-image: linear-gradient(-20deg, #dcb0ed 0%, #99c99c 100%);
}
.match-container {
  animation: pop .3s;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 4;
  width: 100vw;
}

@keyframes pop {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
