.bouton {
  text-decoration: none;
  // background-color: #0D1282;
  border-radius: 16px;
  // border: 4px double #cccccc;
  color:black;
  text-align: center;
  font-size: 12px;
  padding: 30px;
  width: fit-content;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  cursor: pointer;
  // margin: 5px;
  font-family: 'Oxygen', sans-serif;
  background: (white);
  font-size: larger;
  font-weight: bolder;
  margin: 80px;
}
  .bouton:hover {
    background-color: #ACB1D6;
    transform: translate(0px,24px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
  }
