.card-product {
  height: fit-content;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // display: flex;
  // align-items: center;
  // position: relative;
  width: 200px;
  border-radius: 8px;
  padding: 4%;
}

// .card-product > img {
//   height: 100%;
//   max-width: 30%;
//   object-fit: cover;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
// }

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  // margin: 8px 0px;
}

.card-product p {
  font-size: 12px;
  // line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  text-align: start;
  margin-left: 8px;
}

// .card-product > .walk-description {
//   height: 100%;
//   width: 200px;
//   margin-left: 100px;
//   margin-bottom: 10px;
// }

.link {
  text-decoration: none;
}
