.positive {
  color:green;
}

.negative {
  color: rgb(176, 57, 57);
}

.bulles {
  text-align: center;
  margin: 8%;
  color: white;
  p {
    margin:0;
    line-height: 1.8rem;

  }
  strong {
    color:white;
  }
}


.description-mydog {
  background-color: white;
  width: 100%;
  padding: 8%;
  border-radius: 30px;
  font-family: 'Outfit', sans-serif;
  p {
    margin: 0;
    line-height: 1.8rem;

  }
  strong {
    margin-top: 4px;
  }
}



.dog-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: white 2px solid;
}

.my-dog-background {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-everything {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20% 10%;
  font-family: 'Outfit', sans-serif;
  z-index: 3;
  justify-content: space-around;

  h2 {
  font-size: 32px;
  color: white;
  font-weight: bold;
  font-family: 'Play', sans-serif;
  }
}
