.positive {
  color:green;
}

.negative {
  color: rgb(176, 57, 57);
}

.bulles {
  text-align: center;
  margin: 8%;
  color: white;
  p {
    margin:0;
  }
  strong {
    color:white;
  }
}


.description-mydog {
  background-color: white;
  padding: 8%;
  border-radius: 30px;
  font-family: 'Outfit', sans-serif;
  p {
    margin: 0;
  }
  strong {
    margin-top: 4px;
  }
}

.description-block {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  text-align: center;
  gap: 8%;
}


.dog-attributes {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 30px;
  padding: 3%;
  text-align: center;
}


.btn-dog-description {
  background-color: #CEE6F3;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%
}

.dog-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: white 2px solid;
}

.my-dog-background {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.center-everything {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20% 10%;
  font-family: 'Outfit', sans-serif;
  z-index: 3;
  justify-content: space-around;

  h2 {
  font-size: 32px;
  color: white;
  font-weight: bold;
  font-family: 'Play', sans-serif;
  }
}
