.filters {
  z-index: 2;
  position: fixed;
  bottom: 75px;
  left: 50%;
  width: 90vw;
  padding: 5%;
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  gap: 1rem;
  overflow: scroll;
  transform: translateX(-50%);
  height: 5rem;
}

.filter-img {
  z-index: 2;
  position: fixed;
  bottom: 75px;
  right: 0;
}

.cross {
  z-index: 2;
  bottom: 55px;
  right: 10px;
}

.filter-link {
  height: fit-content;
  color: #116D6E;
  text-decoration: none;
  border-radius: 40px;
  border: 1px solid  #116D6E;
  padding: 8px 16px;
  white-space: nowrap;
  &.active {
    background-color:  #116D6E;
    color: white;
  }
}
