.filters {
  z-index: 2;
  position: fixed;
  bottom: 70px;
  left: 50%;
  width: 100vw;
  padding: 0.8rem;
  background-color: #ffffff;
  display: flex;
  gap: 0.8rem;
  overflow: scroll;
  transform: translateX(-50%);
  // height: 5rem;
}

.filter-img {
  z-index: 2;
  position: fixed;
  bottom: 75px;
  right: 0;
}

.cross {
  z-index: 2;
  bottom: 55px;
  right: 10px;
}

.filter-icon {
  height: fit-content;
  background-color: rgb(176, 57, 57);
  color: white;
  text-decoration: none;
  border-radius: 40px;
  border: 1px solid  rgb(176, 57, 57);
  padding: 8px 16px;
  white-space: nowrap;
}

.filter-link {
  height: fit-content;
  color: #116D6E;
  text-decoration: none;
  border-radius: 40px;
  border: 1px solid  #116D6E;
  padding: 8px 16px;
  white-space: nowrap;
  &.active {
    background-color:  #116D6E;
    color: white;
  }
}
