.card-trip-user-cross {
  position: absolute;
  left: 16px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

.card-trip-user-heart {
  position: absolute;
  right: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
  background-color: white;
  img { 
    width: 100%;
  }
}