.logi {
  margin-top: 40px;
  justify-content: center;
  width: 30%;
}

.main {
  width: 100%;
  align-self: center;
}

.boubou {
  display: flex;
  justify-content: center;
}

.center-container {
  padding-top: 200px;
}

