.mapboxgl-popup {
  max-width: 280px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  width: 300px;
}

.usermap{
  width: 100vh;
  height: 100vh;
}
