.mapboxgl-popup {
  max-width: 280px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  width: 100%;
}

.indexmap {
  width: 100%;
  height: calc(100vh - 19%);
}
.showmap {
  width: 100%;
  height: calc(100vh - 50%);
}
