.description-tindog {
  background-color: white;
  padding: 8%;
  border-radius: 30px;
  font-family: 'Outfit', sans-serif;

  h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Play', sans-serif;
  }

  .warnings p {
    margin: 0;
  }
  .warnings i {
    margin-right: 4px;
  }
}
