.walk-card {
  top: -2vh;
  // top commence à la fin de la map, -2 pour donner l'impression que la card est au dessus
  border-radius: 20px;
  background-color: white;
  text-align: start;
  padding: 5%;

  h2 {
    margin-bottom: 16px;
  }
}

.walk-infos {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 8%;
}

.walk-photo {
  width: 30%;
}

.walk-photo {
  width: 100%;
  border-radius: 30px;
  margin-bottom: 4px;
  max-height: 160px;
  object-fit: cover;
  margin-top: 16px
}

strong {
  color: #116D6E;
  margin-right: 8px;
}


.walk-description > p {
  text-align: left;
  margin: 16px 0px;
  line-height: 1.8rem;
}


.return-btn {
  z-index: 50;
  padding: 8px;
  position: fixed;
  text-align:center;
  justify-content: center;
  color: black;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 50%;
  left: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
}
