.walk-card {
  bottom: 9px;
}

.walk-infos {
  display: flex;
  align-items: center;
  padding: 5%;
}

.walk-photo {
  width: 30%;
}

.walk-photo > img {
  width: 100%;
  border-radius: 20px;
  height: 100px;
  padding: 3px;
  transition: all 0.25s ease;

  &.big {
    position: fixed;
    top: 50vh;
    z-index: 50;
    transform: scale(1);
    height: 150px;
    max-width: 90vw;
  }
}

.walk-data {
  padding-left: 10px;
  line-height: 1em;
  p {
    margin: 0.3em;
  }
}


strong {
  color: #116D6E;
}

.walk-description {
  margin: 0 1em 1em 1em;
}

.walk-description p{
  margin-bottom: 0.6em;
}


.walk-title {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  padding: 5%;
  display: flex;
  align-items: center;

  h2, a {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin: 0px;
  }

  h2 {
    flex-grow: 3;
  }


}
