.match {
  background: white;
  // margin-top: 9px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h3 {
    font-weight: bold;
    flex-grow: 1;
    margin: 0;
    text-align: center;
  }

  .top {
    display: flex;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 0.5rem;
    align-items: center;

    a {
      color: black;
    }
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
